
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" action="Add">
    <label>Name</label><input type="text" name="Name" />
    <br />
    <label>Subject</label><input type="text" name="Subject" />
    <br />
    <input type="submit" />

</form>